# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MongoDB Connection String
MONGODB_URI="mongodb+srv://user:password@cluster.mongodb.net/digipremier?retryWrites=true&w=majority"

# JWT Secret
JWT_SECRET="your_super_secret_jwt_key_12345"

# Cloudinary Config
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Admin initial setup
ADMIN_EMAIL="admin@digipremier.com"
ADMIN_PASSWORD="admin_strong_password"
